:host {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 6px;
}

.stripe__bar {
  &--blue {
    background: var(--color-primary);
  }
  &--green {
    background: var(--color-accent-green);
  }
  &--red {
    background: var(--color-accent-red);
  }
  &--orange {
    background: var(--color-accent-orange);
  }
}
